
#page{
    width: 70vw;
    background-color: rgb(244, 230, 244);
    margin: 0 auto;
}

#home-content{
    display: flex;
    flex-direction: column;
    
    padding: 0vh 0vw;

    
}



nav ul{
    display: flex;
    flex-direction: column;
    width: 15vw;
    
    list-style: none;
    padding-left: 0;
    background-color: white;
    text-align: center;
    align-items: center;
    border: 0.15vw solid rgb(205, 195, 195);
    
    
}
nav a {
    text-decoration: none;
}

nav{
    padding-right: 5vw;
}




nav li{
    width: 90%;
    padding: 2vh 0;
    font-size: calc(3px + 2vw);
}

#layout{
    display: flex;
    flex-direction: row;
    border: 0.15vw solid rgb(205, 195, 195);
    padding: 2vh 2vw;
    min-height: 70vh;

}




header h1, header p {
    margin: 0;  
    padding: 1vh 0;  
}
header{
    display: flex;
    flex-direction: column;
    background-color:#cea8ce;  
    
}

#home-content p{
    border-left: 0.5vh solid rgb(232, 123, 232);
    padding: 0.8vh;
    font-size: calc(1px + 1vw + 1vh);
    text-align: left;  

   
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
}



main{
    height: 100vh;
}



footer{
    text-align: center;
    background-color:#cea8ce;  
}
@media screen and (max-width: 750px){
    #page{
        width: 100%;
    }

    header{
        align-items: center;
    }


    #layout{
        display: flex;
        flex-direction: column;
        
    
    }
   

    nav ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        
    }
    
    #title{
        align-items: center;

    }
    nav{
        padding-right: 0;
        width: 100%;
    }

    
    #home-content{
        display: flex;
        flex-direction: column;

    }

    

    nav li{
        font-size: calc(2px + 2.5vw);
        padding: 2% 1%;
        
    }
    


}

