

#page{
    width: 70vw;
    margin: 0 auto;
}

#home-content{
    display: flex;
    flex-direction: row;
    
    padding: 0vh 0vw;

    
}



nav ul{
    display: flex;
    flex-direction: column;
    width: 15vw;
    
    list-style: none;
    padding-left: 0;
    text-align: center;
    align-items: center;
    border: 0.15vw solid rgb(205, 195, 195);
    
    
}
nav a {
    text-decoration: none;
}

nav{
    padding-right: 5vw;
}




nav li{
    width: 90%;
    padding: 2vh 0;
    font-size: calc(3px + 2vw);
}

#layout{
    display: flex;
    flex-direction: row;

}

#home-img{
    width: 50%;
    margin: 0vh 0vw;
    margin-right: 6vw;
    
    
    
}
#profilepic{
    
    max-width: 100%;
    
}

main{
}

#home-intro{
    width: 70%;
    margin: 0vh 0vw;
    margin-left: 0px;


    

}

footer{
    text-align: center;
}
@media screen and (max-width: 750px){

    #layout{
        display: flex;
        flex-direction: column;
    
    }

    nav ul{
        display: flex;
        flex-direction: row;

    }


}

